/* *** Reset *** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


/* *** Tausta *** */

body {
  height: 100vh;
  background: linear-gradient(180deg, #1e1f4f, #4c3a8f);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


/* *** App-kortti *** */

.app {
  width: 350px;
  padding: 25px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* *** Hakukenttä *** */

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #ff7b54;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search button:hover {
  background: #ff5722;
  transform: scale(1.05);
}


/* *** Pääsää *** */

.weather {
  text-align: center;
  margin-bottom: 20px;
}

.weather h1 {
  font-size: 22px;
  opacity: 0.9;
}

.weather h2 {
  font-size: 65px;
  font-weight: bold;
  margin: 10px 0;
}

.weather p {
  font-size: 16px;
  opacity: 0.9;
}


.temp-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-icon {
  font-size: 40px;
}


.hourly {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin: 20px 0;
  padding-bottom: 10px;
}

.hourly::-webkit-scrollbar {
  display: none;
}

.hour {
  min-width: 65px;
  background: rgba(255,255,255,0.12);
  border-radius: 18px;
  padding: 12px 8px;
  text-align: center;
  font-size: 13px;
  backdrop-filter: blur(5px);
}


#desc::before {
  content: "☁️ ";
}




/* *** Ikoni *** */

#icon {
  width: 80px;
  margin: 10px 0;
}


/* *** Lisätiedot *** */

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.details p {
  background: rgba(255,255,255,0.12);
  padding: 15px;
  border-radius: 18px;
  font-size: 13px;
  text-align: center;
}


/* *** Responsiivisuus *** */

@media (max-width: 400px) {
  .app {
    width: 90%;
  }

  .weather h2 {
    font-size: 40px;
  }
}
